<h1><%= @book.title%></h1>
<ul>
	<%@reviews.each do |review|%>
			<li>
				Review: <%=review.review%> 
				Rated: <%=review.rating%> 
			</li><br>
	<%end%>
	
</ul>
<%= link_to('Add a Review', new_book_review_path(@book))%>
<%= link_to('front page', books_path)%>
