<%= form_for [@book, @review] do |f|%>
	<%= f.label :review %>
	<%= f.text_field :review %>
	<br>
	<%= f.label :rating %>
	<%= f.text_field :rating, size: 4 %>
	<br>
	<%= f.submit 'Save' %>
	<%= link_to 'Cancel', book_reviews_path(@book.id)%>

<%end%>

<% if @review.errors.any? %>
	<ul>
		<% @review.errors.full_messages.each do |review_msg|%>
			<li><%= review_msg%></li>
		<%end%>
	</ul>
<%end%>